{% for share in shares %}
{{ share }} -fstype=cifs,rw,_netdev,vers=3.0,credentials={{ secret_file }},uid={{ ansible_user_uid }},gid={{ ansible_user_gid }},file_mode=0644,dir_mode=0755,iocharset=utf8 ://{{ nas_fqdn }}/{{ share }}
{% endfor %}
